@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Josefin+Sans:wght@500&family=Lato&family=Nunito+Sans&family=Roboto:ital,wght@1,100&family=Source+Sans+Pro&display=swap');
.img-crop{
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
.heading{
    /* display: inline; */
    margin-top: -74px;
    margin-left: 119px;
    font-family: 'Nunito Sans', sans-serif;
}
header{
    background-color: black;
    color: white;
    width: 100%;
    height: 107px;
    padding: 25px;
}
.head-right{
    float: right;
    margin-right: 110px;
    margin-top: -58px;

}
a{
    padding: 20px;
    color: white;
    font-size: x-large;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    
}